<!DOCTYPE html>
<html lang="en">
    
    <%- include('layout/header') -%>

    <body>
        
        <%- include('layout/navigation') -%>

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/contact-bg.jpg')">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="page-heading">
                            <h1>Ooops 404 ;(</h1>
                            <button type="button" class="btn btn-primary" onclick="javascript: history.go(-1);">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container">
            
        </div>
        <hr />
        
        <%- include('layout/footer') -%>

        <%- include('layout/scripts') -%>
    </body>
</html>
