<!DOCTYPE html>
<html lang="en">
    
    <%- include('layout/header') -%>

    <body>
        
        <%- include('layout/navigation') -%>

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/contact-bg.jpg')">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="page-heading">
                            <h1>New Post</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <form action="/post/save" method="POST" enctype="multipart/form-data">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Title</label>
                                <input class="form-control" id="title" name="input_title" type="text" placeholder="Insert Title"/>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Body</label>
                                <textarea class="form-control" id="body" name="input_body" rows="5" placeholder="Post Body"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Immagine</label>
                                <input class="form-control" id="image" name="image" type="file" placeholder="Insert Image"/>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br />
                        <div id="success"></div>
                        <button class="btn btn-primary" id="sendMessageButton" type="submit">Insert</button>
                    </form>
                </div>
            </div>
        </div>
        <hr />
        
        <%- include('layout/footer') -%>

        <%- include('layout/scripts') -%>
    </body>
</html>
