<!DOCTYPE html>
<html lang="en">
    
    <%- include('layout/header') -%>

    <body>
        
        <%- include('layout/navigation') -%>

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/contact-bg.jpg')">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="page-heading">
                            <h1>Login</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <form action="/auth/login" method="POST">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Username</label>
                                <input class="form-control" id="username" name="input_username" type="text" placeholder="Insert Username"/>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Password</label>
                                <input class="form-control" id="password" name="input_password" type="password" placeholder="Insert Password"/>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br />
                        <div id="success"></div>
                        <button class="btn btn-primary" id="sendMessageButton" type="submit">LogIn</button>
                    </form>
                </div>
            </div>
        </div>
        <hr />
        
        <%- include('layout/footer') -%>

        <%- include('layout/scripts') -%>
    </body>
</html>
