<!DOCTYPE html>
<html lang="en">

    <%- include('layout/header') -%>    

    <body>
        
        <%- include('layout/navigation') -%>

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="post-heading">
                            <h1><%= blogpost.title %></h1>
                            <span class="meta">
                                Posted by
                                <a href="#!"><%= blogpost.username %></a>
                                on <%= blogpost.datePosted.toDateString() %>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <p><%= blogpost.body %></p>
                    </div>
                </div>
            </div>
        </article>
        <hr />
        <!-- Footer-->
        
        <%- include('layout/footer') -%>
        
        <%- include('layout/scripts') -%>
    </body>
</html>
