<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="index.html">Start Bootstrap</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button> 
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                
                <% if(loggedIn) { %>
                    <li class="nav-item"><a class="nav-link" href="/post/new">New Post</a></li>

                    <li class="nav-item"><a class="nav-link" href="/auth/logout">Logout</a></li>
                <% } else { %>

                    <li class="nav-item"><a class="nav-link" href="/auth/register">Register</a></li>

                    <li class="nav-item"><a class="nav-link" href="/auth/login">Login</a></li>
                <% } %>

            </ul>
        </div>
    </div>
</nav>